# Data Science Tools and Ecosystem

In this notebook, we are going to study about Data Science Tools in detail.

__Objectives:__
- Data Science Languages.
* Data Science Libraries.
- Data Science Tools.
* Evaluate Arithemetic Expression using Python

Data Science Languages are:-
1. Python
2. R
3. SQL
4. Java
5. Julia

Data Science Libraries:-
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

                                                    Data Science Tools
| 1. Apache Spark | 2. D3.js |3.IBM SPSS |
| --- | --- | --- |
| 4.Julia | 5. Keras | 6.NumPy |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
 # This a simple arithmetic expression to mutiply then add integers
(3*3)+5

14

In [4]:
# This will convert 300 minutes to hours by diving by 60

300/60

5.0

## Author
Hrishikesh Pai